*           text=auto
*.bat       text eol=crlf
*.gradle    text eol=lf
*.mk        text eol=lf
*.sh        text eol=lf
node_modules/@cloudflare/workerd-linux-arm64/bin/workerd filter=lfs diff=lfs merge=lfs -text
